<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cabins
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cabin of cabins" routerLink="/cabin-detail/{{cabin.id}}">
           
	   <ion-grid>
  <ion-row>
    <ion-col size="12" size-md="12">
      <div>
        {{cabin.name}}	   
      </div>
    </ion-col>
    <ion-col size="12" size-md="12">
      <div>
        <img src="{{cabin.image}}">
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
     
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>