<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cabins
    </ion-title>
  </ion-toolbar>
   <ion-buttons end>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
</ion-header>

<ion-content padding>
				
<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="12">

  <ion-card *ngIf="cabin">
    <ion-card-header>
      <ion-card-title>{{cabin.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
	  <ion-img src="{{cabin.image}}"></ion-img>
		<ion-item>{{cabin.description}}</ion-item>
		
 <ion-fab bottom right [hidden]="favorite">
    <button ion-fab (click)="addToFavorites()">
      <ion-icon name="heart-outline"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom right *ngIf="favorite">
    <button ion-fab>
      <ion-icon name="heart"></ion-icon>
    </button>
  </ion-fab>
				
		<ion-card-subtitle>Comments:</ion-card-subtitle>
		 <ion-list *ngFor="let comment of cabin.comments">
                    <ion-title>{{comment.comment}}</ion-title>
                    <ion-item>{{comment.rating}} Stars</ion-item>
                    <ion-item> -- {{comment.author}} {{comment.date | date}}</ion-item>
                </ion-list>
				
				
				
				
    </ion-card-content>
  </ion-card>
  				

    </ion-col>
  </ion-row>
</ion-grid>

				
<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="12">
	<ion-card>
	
	 <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" formControlName="author"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Rating</ion-label>
        <ion-input type="text" formControlName="rating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Comment</ion-label>
        <ion-textarea formControlName="comment"></ion-textarea>
      </ion-item>
      <button ion-button type="submit" >Submit</button>
    </form>
			
	</ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
			
</ion-content>