<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	
				
<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="12">
	<ion-card>
	
	 <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tel</ion-label>
        <ion-input type="number" formControlName="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Message</ion-label>
        <ion-textarea formControlName="message"></ion-textarea>
      </ion-item>
      <button ion-button type="submit" >Submit</button>
    </form>
			
	</ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
			
</ion-content>