<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Favorites 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="favorites">
  <ion-title>Cabins</ion-title>
    <ion-item-sliding *ngFor="let favorite of favorites">
           
      <ion-item>
        {{favorite.name}}	   
         <ion-thumbnail><ion-img src="{{favorite.image}}"></ion-img> </ion-thumbnail>
      </ion-item>
     

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="deleteFavorite(item, favorite.id)">
	  <ion-icon name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
   <ion-list *ngIf="favoriteshouses">
   <ion-title>Houses</ion-title>
    <ion-item-sliding *ngFor="let fav of favoriteshouses">
           
      <ion-item>
        {{fav.name}}	   
         <ion-thumbnail><ion-img src="{{fav.image}}"></ion-img> </ion-thumbnail>
      </ion-item>
     

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="deleteFavorite(item, fav.id)">
	  <ion-icon name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  
 

</ion-content>