<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  				
<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="12">

 <ion-card  *ngFor="let cabin of cabins">  
    <ion-card-header>
      <ion-card-title>{{cabin.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
	  <ion-img src="{{cabin.image}}"></ion-img>

				
    </ion-card-content>
  </ion-card>
  				

    </ion-col>
  </ion-row>
</ion-grid>
			
				
<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="12">

 <ion-card  *ngFor="let house of houses">  
    <ion-card-header>
      <ion-card-title>{{house.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
	  <ion-img src="{{house.image}}"></ion-img>

				
    </ion-card-content>
  </ion-card>
  				

    </ion-col>
  </ion-row>
</ion-grid>
			
				
<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="12">

 <ion-card  *ngFor="let ecoactivity of ecoactivities">  
    <ion-card-header>
      <ion-card-title>{{ecoactivity.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
	  <ion-img src="{{ecoactivity.image}}"></ion-img>

				
    </ion-card-content>
  </ion-card>
  				

    </ion-col>
  </ion-row>
</ion-grid>
			
			
</ion-content>
