<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ecoactivities
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let ecoactivity of ecoactivities">
      
	   <ion-grid>
  <ion-row>
    <ion-col size="12" size-md="3">
      <div>
        {{ecoactivity.name}}	   
      </div>
    </ion-col>
    <ion-col size="12" size-md="3">
      <div>
       {{ecoactivity.description}}
      </div>
    </ion-col>
    <ion-col size="12" size-md="3">
      <div>
         <ion-img  src="{{ecoactivity.image}}"></ion-img >
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
       
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>


