<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Houses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let house of houses" routerLink="/house-detail/{{house.id}}">
            
	   <ion-grid>
  <ion-row>
    <ion-col size="12" size-md="12">
      <div>
        {{house.name}}	   
      </div>
    </ion-col>
    <ion-col size="12" size-md="12">
      <div>
        <img src="{{house.image}}">
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>